$font-stack: "Times New Roman", Arial, sans-serif;
$Home-light: #e9e9e9;
$Home-dark: #e8f5fd;
$User-light:#1da1f2;
$User-dark: #f5f8fa;
$border-color: #C0C0C0;
$margin: 10px;
$tab-border-color: #ccc;
$tab-hover-color: #ddd;
$tab-color: #f1f1f1;
$post-tweet-width: 500px;
$post-tweet-height: 75px;


.title {
  text-align: center;
  font-size: 40pt;
  font-weight: bold;
  font-family: $font-stack;
}

@mixin tweet-color($light-color, $dark-color) {
  &:nth-child(odd) {
    background-color: $dark-color;
  }
  &:nth-child(even) {
    background-color: $light-color;
  }
}

.ServerError, .NoTweets {
  text-align: left;
  margin: $margin;
}

.NavBar {
  border: 1px solid $tab-border-color;
  overflow: hidden;
  background-color: $tab-color;

  .Tab {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;

    &.focused {
      background-color: darkgray;
    }
  }

  & button:hover {
    background-color: $tab-hover-color;
  }
}

@mixin PostTweetSizing($post-tweet-width, $post-tweet-height) {
  width: $post-tweet-width;
  height: $post-tweet-height;
  margin: auto;
}

.PostTweet {
  @include PostTweetSizing($post-tweet-width, $post-tweet-height);
  position: relative;
  margin-top: 90px;

  textarea {
    $border-width: 1px;
    border-width: $border-width;
    width: $post-tweet-width - (2 * $border-width);
    height: $post-tweet-height - (2 * $border-width);
    resize: none;
    padding: 0;
  }

  .CharCount {
    position: absolute;
    right: 3px;
    font-size: small;
    color: gray;
    bottom: 6px;
  }

  .PostTweetButton {
    float: right;
  }

  .resultMessage {
    margin-right: 10px;
    font-size: small;
    float: right;

    &.success {
      color: limegreen;
    }

    &.failure {
      color: red;
    }

    &:after {
      display: block;
      clear: both;
    }
  }
}

.TimelineContainer {
  vertical-align: top;
  margin-top: 40px;

  &.UserTimeline {
    text-align: right;

    .getTimelineButton {
      margin: $margin;
    }

    .Tweet {
      @include tweet-color($User-light, $User-dark);
      text-align: left;
    }

    .screenName {
      visibility: hidden;
    }
  }

  &.HomeTimeline {
    .getTimelineButton {
      display: inline-block;
      text-align: left;
      margin: $margin;
    }

    .SearchComponent {
      float: right;
      margin: $margin;

      .SearchBar {
        width: 150px;
      }

      .FilterButton {
        margin-left: 10px;
        text-align: right;
      }

      &:after {
        display: block;
        clear: both;
      }
    }

    .Tweet {
      @include tweet-color($Home-light, $Home-dark);

      .ReplyModal {

        .PostTweet {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          zIndex: 9999;
          background: #fff;
        }

        .backdrop {
          position: absolute;
          width: 5000px;
          height: 5000px;
          top: 0px;
          left: 0px;
          zIndex: 9998;
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  .Timeline {
    margin: $margin;
    border: 1px black solid;

    .Tweet {
      border-bottom: 1px $border-color solid;

      .Avatar {
        width: 140px;
        text-align: center;
        display: inline-block;
        margin: 1em 50px 1em 10px;

        .ProfilePic {
          border-radius: 50%;
          height: 60px;
          width: 60px;
        }

        .imageCaption {
          font-size: 15pt;
          font-weight: bold;
          text-align: center;
        }

        .screenName {
          font-size: 10pt;
          font-weight: normal;
        }
      }

      .TweetContent {
        width: 70%;
        display: inline-block;
        position: relative;
        top: 5px;

        .timeDiv {
          font-style: italic;
          font-size: 10pt;
          margin: 20px 0 5px;
        }

        .replyButton {
          height: 20px;
          width: 20px;
          margin-top: 20px;
        }

        .replyButton:hover {
          cursor: pointer;
          color: darkgray;
        }
      }
    }
  }
}
