#title {
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
    font-family: "Times New Roman", Arial, sans-serif;
}

.lightTweet {
    background-color:  #e8f5fd;
}

.darkTweet {
    background-color: #e9e9e9;
}

.img-circle {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.imageCaption {
    font-size: 15pt;
    font-weight: bold;
}

#screenName {
    font-size: 10pt;
    font-weight: normal;
}
